/* Selector de etiquetas
(*) Selector universal
( ) Selector normal
(#) Selector id 
(.) Selector clase */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1500px;
    margin: 0px auto;
    /* border: 1px solid black; */
}

header{
    background: lightgray;
    height: 100px;
    width: 100%;
    color: white;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

nav{
    background: grey;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#content{
    float: left;
    width: 80%;
    min-height: 600px;
    background-color: lightgray;
    border-radius: 5px;
}

.article{
    float: left;
    width: 1150px;
    height: 150px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: gray;
    border-radius: 5px;
}

aside{
    float: left;
    width: 290px;
    min-height: 770px;
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 10px;  
}

footer{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    float: left;
    color: white;
    align-content: center;
    text-align: center;
    background: grey;
    border-radius: 5px;
}